.advantageCollection {
    @include row-flex();
    flex-wrap: wrap;
    margin: 0;
    &__item {
        @include col();
        @include size(3);
        margin-top: 35px;
        @include size-sm(6);
    }
    &._threeInRow {
        .advantageCollection__item {
            @include size(4);
        }
    }
}