.advantage{
    color: #51545f;
    &__icon{
        width: 80px;
        height: 66px;
    }
    &__title{
        font-size: 1.08rem;
        font-weight: 600;
        color: inherit;
        margin-top: 1.6rem;
    }
    &__text{
        color: inherit;
        font-size: .625rem;
        margin-bottom: 3rem;
        margin-top: .8rem;
    }
}