.arrowBlock {
    background-color: #d61d44;
    width: 230px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    @include resp(0, 1170) {
        width: 180px;
        height: 60px;
    }
    &__toLeft,
    &__toRight {
        width: 43px;
        display: flex;
        align-items: center;
        background: none;
        border: none;
        outline: none;
        transition: .3s;
        cursor: pointer;
    }
    &__toRight {
        transform: rotate(-180deg);
    }
    &__count {
        font-size: .666rem;
        font-weight: 600;
    }
    &__toRight {
        margin-right: 20px;
        &:hover {
            margin-right: 16px;
            margin-left: 4px;
            transition: .3s;
        }
    }
    &__toLeft {
        margin-left: 20px;
        &:hover {
            margin-left: 16px;
            margin-right: 4px;
            transition: .3s;
        }
    }
}