.breadcrumbs {
    &__item {
        color: #51545f;
        text-decoration: none;
        font-size: .541rem;
        margin-left: 28px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            left: -16px;
            top: 4px;
            width: 4px;
            height: 4px;
            border-radius: 100%;
            background-color: #e5264e;
        }
        &:first-child{
            margin-left: 0;
            &:after{
                display: none;
            }
        }
        &:before {
            content: '';
            width: 0;
            transition: .6s;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            background-color: #51545f;
        }
        &:hover {
            transition: .6s;
            // color: #e5264e;
            &:before {
                width: 100%;
            }
        }
    }
}