.button {
    font-size: .666rem;
    padding: 1rem 3.5rem;
    background: none;
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    &._onColorfulBackground {
        color: #fff;
        border: 3px solid #fff;
        font-size: .666rem;
    }
    &._default {
        color: #574582;
        border: 3px solid #574582;
    }
    &._small {
        padding: .3rem 1rem;
    }
    &._noFound {
        padding: .9rem 2.4rem;
    }
    @include resp(0, $sbreak_sm) {
        width: 100%;
        box-sizing: border-box;
        font-size: 18px;
        text-align: center;
    }
}