.buyTicket {
    width: 100%;
    select {
        width: 100%;
        margin-bottom: 15px;
        margin-top: 15px;
        background: none;
        color: #51545f;
        font-size: 15px;
        text-align: center;
        border: 1px solid #c2c0d3;
        height: 58px;
        border-radius: 100px;
    }
}