.callCart {
    display: flex;
    text-decoration: none;
    &__image {
        transition: background-size .15s ease-out;
        width: 50%;
        padding-top: 50%;
        background-size: 100%;
        background-position: center;
    }
    &__info {
        width: 50%;
        background-color: #f5f5f5;
        padding: 3.75rem 2.083rem;
        box-sizing: border-box;
        &._theme_trining {
            padding: 30px;
        }
    }
    &__link {
        color: #5f498a;
        font-size: .625rem;
    }
    &__name {
        color: #51545f;
        font-size: 1.083rem;
        margin: 30px 0;
    }
    &__contact {
        color: #51545f;
        font-size: .625rem;
        margin-bottom: 7.5px;
    }
    &._link {
        &:hover {
            .callCart__image {
                transition: background-size .25s ease-out;
                background-size: 110%;
            }
        }
    }
}