.contentSlider {
    position: relative;
    &__overley {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000;
        opacity: .6;
        width: 100%;
        height: 100%;
    }
    &__arrows {
        position: absolute;
        z-index: 2;
        right: 50%;
        transform: translate(50%, -50%);
        @include wrapper();
        padding: 0 !important;
        width: 100%;
        bottom: 0px;
        display: flex;
        justify-content: flex-end;
        @include resp(0, $sbreak_md) {
            bottom: -15px;
        } 
        @include resp(0, $sbreak_sm) {
            justify-content: center;
            bottom: 15px;
        }
    }
    &__item {
        padding: 170px 0;
        background-size: cover;
        background-position: center center;
        position: relative;
        @include resp(0, $sbreak_md) {
            padding: 90px 0;
        }
        @include resp(0, $sbreak_sm) {
            padding: 45px 0;
            padding-bottom: 150px;
        }
    }
}