@font-face {
    font-family: 'Comfortaa';
    src: url("/fonts/comfortaa2/ComfortaaNFNBLight.eot?#iefix") format('embedded-opentype'), url("/fonts/comfortaa2/ComfortaaNFNBLight.woff2") format('woff2'), url("/fonts/comfortaa2/ComfortaaNFNBLight.woff") format('woff'), url("/fonts/comfortaa2/ComfortaaNFNBLight.ttf") format('truetype'), url("/fonts/comfortaa2/ComfortaaNFNBLight.svg#ComfortaaNFNBLight") format('svg');
    font-weight: 100;
}

@font-face {
    font-family: 'Comfortaa';
    src: url("/fonts/comfortaa2/ComfortaaNFNBLight.eot?#iefix") format('embedded-opentype'), url("/fonts/comfortaa2/ComfortaaNFNBLight.woff2") format('woff2'), url("/fonts/comfortaa2/ComfortaaNFNBLight.woff") format('woff'), url("/fonts/comfortaa2/ComfortaaNFNBLight.ttf") format('truetype'), url("/fonts/comfortaa2/ComfortaaNFNBLight.svg#ComfortaaNFNBLight") format('svg');
    font-weight: 200;
}

@font-face {
    font-family: 'Comfortaa';
    src: url("/fonts/comfortaa2/ComfortaaNFNBLight.eot?#iefix") format('embedded-opentype'), url("/fonts/comfortaa2/ComfortaaNFNBLight.woff2") format('woff2'), url("/fonts/comfortaa2/ComfortaaNFNBLight.woff") format('woff'), url("/fonts/comfortaa2/ComfortaaNFNBLight.ttf") format('truetype'), url("/fonts/comfortaa2/ComfortaaNFNBLight.svg#ComfortaaNFNBLight") format('svg');
    font-weight: 300;
}

@font-face {
    font-family: 'Comfortaa';
    src: url("/fonts/comfortaa2/ComfortaaNFNB.eot?#iefix") format('embedded-opentype'), url("/fonts/comfortaa2/ComfortaaNFNB.woff2") format('woff2'), url("/fonts/comfortaa2/ComfortaaNFNB.woff") format('woff'), url("/fonts/comfortaa2/ComfortaaNFNB.ttf") format('truetype'), url("/fonts/comfortaa2/ComfortaaNFNB.svg#ComfortaaNFNB") format('svg');
    font-weight: 400;
}

@font-face {
    font-family: 'Comfortaa';
    src: url("/fonts/comfortaa2/ComfortaaNFNBBold.eot?#iefix") format('embedded-opentype'), url("/fonts/comfortaa2/ComfortaaNFNBBold.woff2") format('woff2'), url("/fonts/comfortaa2/ComfortaaNFNBBold.woff") format('woff'), url("/fonts/comfortaa2/ComfortaaNFNBBold.ttf") format('truetype'), url("/fonts/comfortaa2/ComfortaaNFNBBold.svg#ComfortaaNFNBBold") format('svg');
    font-weight: 500;
}

@font-face {
    font-family: 'Comfortaa';
    src: url("/fonts/comfortaa2/ComfortaaNFNBBold.eot?#iefix") format('embedded-opentype'), url("/fonts/comfortaa2/ComfortaaNFNBBold.woff2") format('woff2'), url("/fonts/comfortaa2/ComfortaaNFNBBold.woff") format('woff'), url("/fonts/comfortaa2/ComfortaaNFNBBold.ttf") format('truetype'), url("/fonts/comfortaa2/ComfortaaNFNBBold.svg#ComfortaaNFNBBold") format('svg');
    font-weight: 600;
}

@font-face {
    font-family: 'Comfortaa';
    src: url("/fonts/comfortaa2/ComfortaaNFNBBold.eot?#iefix") format('embedded-opentype'), url("/fonts/comfortaa2/ComfortaaNFNBBold.woff2") format('woff2'), url("/fonts/comfortaa2/ComfortaaNFNBBold.woff") format('woff'), url("/fonts/comfortaa2/ComfortaaNFNBBold.ttf") format('truetype'), url("/fonts/comfortaa2/ComfortaaNFNBBold.svg#ComfortaaNFNBBold") format('svg');
    font-weight: 700;
}
