.header{
    margin-bottom: 40px;
    &__container{
        @include wrapper();
        max-height: 99px;
    }
    &._onDarkBg{
        margin: 0;
    }
    @include resp(0, $sbreak_sm) {
        display: none;
    } 
}