.iconText {
    display: flex;
    align-items: center;
    text-decoration: none;
    &__icon {
        width: 30px;
        margin-right: 20px;
    }
    &__text {
        font-size: .666rem;
        font-weight: 600;
        color: #51545f;
        text-decoration: none;
        &._onColorfulBackground {
            color: #fff;
        }
        @include resp(0, $sbreak_sm) {
            font-size: 16px;
        }
    }
    &._small {
        align-items: flex-start;
        .iconText__text {
            font-size: .583rem;
            line-height: 1rem;
        }
        .iconText__icon {
            width: 19px;
        }
    }
    &._theme_seasonTicket {
        .iconText__text {
            color: #51545f;
            font-size: 1.083rem;
        }
        .iconText__icon {
            width: 70px;
            height: 70px;
            border-radius: 100%;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    &._theme_successStory {
        .iconText__icon {
            width: 17px;
            margin-right: 5px;
        }
        .iconText__text {
            font-size: .583rem;
            color: #999baf;
        }
    }
    &._link._onDarkBg {
        .iconText__text {
            &:after {
                background-color: #fff;
            }
        }
    }
    &._link {
        .iconText__text {
            position: relative;
            transition: .6s;
            &:after {
                content: '';
                width: 0;
                transition: .6s;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 1px;
                background-color: #51545f;
            }
            &:hover {
                margin-top: -3px;
                padding-bottom: 3px;
                transition: .6s;
                &:after {
                    width: 100%;
                    transition: .6s;
                }
            }
        }
    }
    &._menuLink {
        .iconText__icon {
            min-width: 20px;
            max-width: 20px;
            margin-right: 0;
            @include resp($sbreak_md, 9999) {
                display: none;
            }
            @include resp(0, $sbreak_sm) {
                display: none;
            }
        }
        .iconText__text {
            color: inherit;
            text-decoration: none;
            font-size: inherit;
            transition: .5s;
            @include resp(0, $sbreak_md) {
                display: none;
                opacity: 0;
                margin-left: -50px;
            }
            @include resp(0, $sbreak_sm) {
                margin: 0 auto !important;
            }
        }
        &._menu_open {
            .iconText__text {
                @include resp(0, $sbreak_md) {
                    display: inline-block;
                    margin-left: 22px;
                    opacity:10;
                }
            }
        }
    }
}