.input {
    background: none;
    border: none;
    font-size: .583rem;
    outline: none;
    padding-bottom: 5px;
    width: 100%;
    &._onColorfulBackground{
        border-bottom: 1px solid #aba2c1;
        color: #fff;
        &::-webkit-input-placeholder {
            color: #fff;
        }
    }
    @include resp(0, $sbreak_sm) {
        padding-bottom: 0;
        padding-bottom: 4px;
        font-size: 15px;
        margin-top: 7.5px;
        margin-bottom: 7.5px;
    }
}