.noFound {
    @include row-flex();
    width: 100%;
    @include resp(0, $sbreak_sm) {
        margin: 0;
    }
    &__image {
        @include col();
        @include size(5);
        display: flex;
        align-items: flex-end;
        padding-bottom: 50px;
        img {
            width: 100%;
        }
        @include resp(0, $sbreak_md) {
            order: 2;
            width: 100%;
            padding-bottom: 30px;
        }
        @include resp(0, $sbreak_sm) {
           margin: 0 auto;
           padding-bottom: 0;
           width: 77px;
           margin-bottom: -2px;
        }
    }
    &__info {
        @include col();
        @include size(5);
        @include resp(0, 1170){ @include size(6); }
        @include size-md(7);
        padding: 30px 58px;
        padding-bottom: 50px;
        @include resp(0, $sbreak_md) {
            order: 1;
            width: 100%;
            text-align: center;
            padding-bottom: 30px;
        }
        @include resp(0, $sbreak_sm) {
            padding: 0;
            margin-bottom: 50px;
            margin-top: 30px;
            text-align: left;
         }
    }
    &__title {
        margin-top: 0;
        font-size: 1.25rem;
        color: #51545f;
        @include resp(0, $sbreak_sm) {
            margin-bottom: 7.5px;
        }
    }
    &__text {
        margin-top: 30px;
        margin-bottom: 40px;
        @include resp(0, $sbreak_md) {
            margin-top: 15px;
            margin-bottom: 15px;
        }
        @include resp(0, $sbreak_sm) {
            margin-bottom: 80px;
        }
    }
}