.noFound {
    @include row-flex();
    width: 100%;
    &__image {
        @include col();
        @include size(5);
        display: flex;
        align-items: flex-end;
        img{
            width: 100%;
        }
    }
    &__info {
        @include col();
        @include size(7);
        padding-left: 30px;
    }
    &__title{
        margin-top: 0;
        font-size: 1.25rem;
        color: #51545f;
    }
    &__text{
        margin: 30px 0;
    }
    &__button{

    }
}