.pageTitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    @include resp(0, $sbreak_md){
        flex-wrap: wrap;
    }
    &._notFirst {
        .pageTitle__title {
            margin-top: 35px;
            margin-bottom: 20px; 
        }
    }
    &__text {
        font-size: 1.5rem;
        color: #5f498a;
        @include resp(0, $sbreak_sm) {
            font-size: 24px;
            width: 100%;
        }
    }
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__icon {
        width: 34px;
        height: 34px;
        margin-right: 25px;
        margin-top: -5px;
        @include resp(0, $sbreak_sm) {
            margin-right: 10px;
            min-width: 33px;
        }
    }
    &__breadcrumbs {
        @include resp(0, $sbreak_md) {
            width: 100%;
        }
    }
}