.pageTitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    &._notFirst {
        .pageTitle__title {
            margin-top: 35px;
            margin-bottom: 20px; 
        }
    }
    &__text {
        font-size: 1.5rem;
        color: #5f498a;
    }
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__icon {
        width: 34px;
        height: 34px;
        margin-right: 25px;
        margin-top: -5px;
    }
}