.row {
    position: relative;
    padding: 50px 0;
    flex-grow: 1;
    &._forForm {
        padding: 100px 0;
    }
    &__content {
        @include wrapper();
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: space-between;
        &._full {
            padding: 0;
            max-width: 100%;
            margin: 0;
        }
    }
    &__full {
        width: 100%;
        @include col();
    }
    &__1-2 {
        @include size(5.65);
        @include col();
    }
    &__1-3 {
        @include size(4);
        @include col();
    }
    &__1-4 {
        @include size(3);
        @include col();
    }
    &__title {
        margin-bottom: 45px;
    }
    &__text {
        margin: 30px 0;
        margin-top: 45px;
    }
    &._accent {
        background-color: #574582;
    }
    &._first {
        padding: 0;
    }
    &._top {
        padding: 0;
        padding-top: 20px;
    }
    &._form{
        padding: 100px 0;
    }
    &._bottom {
        padding: 0;
        padding-bottom: 120px;
    }
}