.row {
    position: relative;
    padding: 50px 0;
    flex-grow: 1;
    @include resp(0, $sbreak_xl) {
        padding: 30px 0;
    }
    @include resp(0, $sbreak_md) {
        padding: 15px 0;
    }
    &._forForm {
        padding: 100px 0;
        @include resp(0, $sbreak_xl) {
            padding: 60px 0;
        }
    }
    &__content {
        @include wrapper();
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: space-between;
        &._full {
            padding: 0;
            max-width: 100%;
            margin: 0;
        }
    }
    &__full {
        width: 100%;
        @include col();
        @include resp(0, $sbreak_sm) {
            margin: 0;
        }
    }
    &__1-2 {
        @include size(5.65);
        @include size-md(12);
        @include col();
        @include resp(0, $sbreak_sm) {
            margin: 0;
        }
    }
    &__1-3 {
        @include size(4);
        @include size-md(6);
        @include size-sm(12);
        @include col();
        @include resp(0, $sbreak_sm) {
            margin: 0;
        }
    }
    &__1-4 {
        @include size(3);
        @include col();
        @include size-md(4);
        @include resp(0, $sbreak_sm) {
            margin: 0;
        }
    }
    &__title {
        margin-bottom: 45px;
        @include resp(0, $sbreak_xl) {
            margin-bottom: 30px;
        }
    }
    &__text {
        margin: 30px 0;
        margin-top: 45px;
        @include resp(0, $sbreak_xl) {
            margin: 20px 0;
            margin-top: 30px;
        }
    }
    &._accent {
        background-color: #574582;
    }
    &._first {
        padding: 0;
    }
    &._top {
        padding: 0;
        padding-top: 20px;
        @include resp(0, $sbreak_xl) {
            padding-top: 15px;
        }
    }
    &._form {
        padding: 100px 0;
        @include resp(0, $sbreak_xl) {
            padding: 60px 0;
        }
        @include resp(0, $sbreak_sm) {
            padding: 30px 0;
        }
    }
    &._bottom {
        padding: 0;
        padding-bottom: 120px;
        @include resp(0, $sbreak_xl) {
            padding-bottom: 60px;
        }
    }
}