.seasonTicket {
    padding-top: 40px;
    padding-bottom: 40px;
    &__content {
        @include wrapper();
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    &__image {
        @include col();
        @include size(5);
        display: flex;
        align-items: center;
    }
    &__info {
        @include col();
        @include size(7);
        color: #51545f;
        font-size: .75rem;
    }
    &__row {
        @include row-flex();
        align-items: center;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    &__col {
        @include col();
        @include size(3);
        justify-content: center;
    }
    &__name{
        color: #999baf;
        font-size: .625rem;
    }
}