.seasonTicket {
    &__content {
        @include wrapper();
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    &__image {
        @include col();
        @include size(5);
        display: flex;
        align-items: flex-start;
        @include resp(0, $sbreak_sm) {
            margin: 0;
            width: 100%;
            justify-content: center;
        }
        &._head {
            align-items: center;
        }
    }
    &__info {
        @include col();
        @include size(7);
        color: #51545f;
        font-size: .75rem;
        @include resp(0, $sbreak_sm) {
            margin: 0;
            width: 100%;
        }
    }
    &__row {
        @include row-flex();
        align-items: center;
        margin-bottom: 15px;
        margin-top: 15px;
        @include resp(0, $sbreak_sm) {
           margin-right: 0;
           margin-left: 0;
           width: 100%;
        }
    }
    &__col {
        @include col();
        @include size(3);
        justify-content: center;
        @include resp(0, $sbreak_md) {
            text-align: center;
        }
        @include resp(0, $sbreak_sm) {
            margin: 0;
            width: 100%;
        }
    }
    &__name{
        color: #999baf;
        font-size: .625rem;
    }
}