@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@mixin resp($min, $max){
  @media screen and (min-width: $min + 'px') and (max-width: $max + 'px'){
    @content
  }
}
.container{
  @include wrapper();
}
html{
  font-size: 24px;
}
body{
  font-family: "Comfortaa";
}
img{
  max-width: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700&subset=cyrillic,cyrillic-ext');