@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@mixin resp($min,
$max) {
    @media screen and (min-width: $min + 'px') and (max-width: $max + 'px') {
        @content
    }
}

$sbreak_xl: 1170;
$sbreak_lg: 960;
$sbreak_md: 780;
$sbreak_sm: 560;
.container {
    @include wrapper();
}

._noneOnMobile {
    @include resp(0,
    $sbreak_sm) {
        display: none !important;
    }
}
._onlyOnMobile {
    @include resp($sbreak_sm,
    9999) {
        display: none !important;
    }
}

html {
    font-size: 24px;
    @include resp(0,
    1430) {
        font-size: 22px;
    }
    @include resp(0,
    1170) {
        font-size: 19px;
    }
    @include resp(0,
    $sbreak_md) {
        font-size: 16px;
    }
   
}

body {
    font-family: "Comfortaa";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700&subset=cyrillic,cyrillic-ext');