.successStory {
    display: flex;
    transition: .5s;
    @include resp(0,1430) {
        flex-wrap: wrap;
    }
    &__images {
        width: calc((100% / 3) * 2);
        display: flex;
        flex-wrap: wrap;
        @include resp(0,1430) {
            width: 100%;
        }
    }
    &__info {
        width: calc(100% / 3);
        padding: 55px 40px;
        color: #51545f;
        box-sizing: border-box;
        min-width: 300px;
        @include resp(0,1430) {
            padding: 30px;
            width: 100%;
        }
        @include resp(0, $sbreak_md) {
           padding-top: 0;
        }
    }
    &__resultImage {
        width: 50%;
        height: 430px;
        background-size: cover;
        background-position: center;
        @include resp(0, $sbreak_md) {
            height: 250px;
        }
    }
    &__bottom {
        width: 100%;
        padding: 40px 10px;
        display: flex;
        justify-content: space-around;
        color: #999baf;
        align-items: center;
        @include resp(0,1430) {
            padding: 20px;
        }
    }
    &__title {
        margin: 0;
        font-size: 1.083rem;
    }
    &__text{
        font-size: .625rem;
        line-height: 1rem;
        margin-bottom: 35px;
        margin-top: 35px;
    }
    &__resultInfo{
        font-size: .583rem;
        &:nth-child(2) {
            position: absolute;
            @include resp(0,1430) {
                position: relative;
             }
        }
    }
    &:hover{
        margin-top: -15px;
        padding-bottom: 15px;
    }
}