.successStories {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 50px 0;
    justify-content: center;
    &__item {
        width: 50%;
        background-color: #f5f5f5;
        text-decoration: none;
        transition: .5s;
        &:nth-child(3n+1) {
            background-color: #eae4f0;
        }
        &:hover{
            margin-top: -15px;
            padding-bottom: 15px;
        }
    }
}