.text {
    color: #51545f;
    font-size: .625rem;
    line-height: 1rem;
    &._onColorfulBackground {
        color: #fff;
    }
    &._accent {
        background-color: #5f498a;
        color: #fff;
        font-size: .75rem;
        padding: 2.83rem 3.9583rem;
        margin: 0;
        @include resp(0, $sbreak_xl){
            padding: 1.83rem 1.9583rem;
        }
    }
}