.trainers {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding-top: 50px;
    @include resp(0, $sbreak_md) {
        padding-top: 12px;
    }
    &__item {
        width: 25%;
        &._theme_trining {
            background-color: #f5f5f5;
            &:nth-child(2n){
                background-color: #eae3f1;
            }
        }
    }
}