.trainingWithoutBg {
    width: 100%;
    position: relative;
    padding-top: 78%;
    display: block;
    text-decoration: none;
    &._rectangle {
        padding-top: 156%;
        .trainingWithoutBg__info {
            top: 8%;
        }
        .trainingWithoutBg__image {
            bottom: 0;
            transform: none;
            max-height: 70%;
            top: unset;
        }
        &:hover {
            .trainingWithoutBg__image {
                max-height: 75%;
            }
            &:before {
                transform: scale(60);
            }
        }
    }
    &:hover {
        .trainingWithoutBg__image {
            transition-delay: .15s;
            max-height: 50%;
        }
    }
    &__info {
        position: absolute;
        left: 0;
        bottom: 11%;
        padding-left: 16%;
        width: 100%;
        box-sizing: border-box;
    }
    &__topText {
        font-size: .725rem;
        font-weight: 100;
        margin-bottom: 14.5px;
        color: #818295;
    }
    &__name {
        font-size: 1.1rem;
        font-weight: 600;
        color: #51545f;
    }
    &__image{
        transition: .25s;
        width: 100%;
        height: 100%;
        max-height: 45%;
        position: absolute;
        top: 45%;
        left: 0;
        transform: translate(0, -50%);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        @include resp(0, $sbreak_md){
            top: 35%;
        }
    }



    /*Для анимации*/
    overflow: hidden;
    z-index: 1;
    position: relative;
    -webkit-transition: 1s ease-out;
    transition: 1s ease-out;
    &:hover {
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
        color: #574582;
        z-index: 8;
        background-color: #574582;
        &:before {
            transform: scale(30);
        }
        .trainingWithoutBg__topText, .trainingWithoutBg__name {
            color: #fff;
        }
    }
    &:before {
        content: '';
        transition: 0.5s;
        z-index: -1;
        position: absolute;
        top: -20px;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        display: block;
        width: 40px;
        height: 40px;
        background: #574582;
        border-radius: 50px;
    }
    &._default {
        &:hover {
            color: #fff;
            background-color: #574582;
        }
        &:before {
            background: #574582;
        }
    }
    /*Для анимации*/
}