.trainingWithBg {
    padding-top: 86%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    &:hover {
        .trainingWithBg__overley {
            opacity: 0;
        }
    }
    &__overley {
        transition: .25s;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .6;
    }
    &__info {
        color: #fff;
        position: absolute;
        top: 80px;
        left: 80px;
        @include resp(0, $sbreak_lg) {
            top: 40px;
            left: 25px;
        }
    }
    &__topText {
        font-size: 1.083rem;
        font-weight: 100;
        margin-bottom: 7.5px;
    }
    &__name {
        font-size: 1.25rem;
        font-weight: 600;
    }
}