.trainingWithoutBg {
    width: 100%;
    position: relative;
    padding-top: 75%;
    &._rectangle {
        padding-top: 150%;
        .trainingWithoutBg__info {
            top: 15%;
        }
        .trainingWithoutBg__image {
            bottom: 0;
            transform: none;
            height: 70%;
            top: unset;
        }
    }
    &__info {
        position: absolute;
        left: 0;
        bottom: 15%;
        padding-left: 16%;
        width: 100%;
        box-sizing: border-box;
    }
    &__topText {
        font-size: 1.083rem;
        font-weight: 100;
        margin-bottom: 7.5px;
        color: #818295;
    }
    &__name {
        font-size: 1.25rem;
        font-weight: 600;
        color: #51545f;
    }
    &__image{
        width: 100%;
        height: 50%;
        position: absolute;
        top: 38%;
        left: 0;
        transform: translate(0, -50%);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        
    }
}